@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
font-face {
    src: url("/static/fonts/Product Sans Regular.ttf");
    font-family: nos
}

* {
    box-sizing: border-box;
}
.center {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.time {
  text-align: center; 
  margin-right: 10%; 
  margin-left: 40%; 
  color:white; 
  font-weight: 400; 
  white-space :nowrap;
  font-family: "Poppins";
}

body {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0;

}

.h3 {
    font-family: nos;
    color: black;
    text-align: center;
}
.countdown {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.timeleft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.timeleft h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}

@media(max-width:500px){
    h1 {
        font-size: 45px;
    }
    .timeleft {
        margin:5px
    }
    .timeleft h2 {
        font-size: 12px;
    }
    .timeleft small {
        font-size: 10px;
    }
}

.submit-popup {
  width:400px;
  height:350px;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:content-box;
  z-index:2;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.submit-popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);

}


.submit-popup .submit-title {
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.submit-popup .submit-description {
  color:#222;
  font-size:16px;
  padding:5px;
}
.submit-popup .submit-btn-btn {
  margin-top:15px;
  margin-bottom: 5px;

}

.submit-popup .submit-btn-btn button {
  background-color: #00c851;
  color: white;

}
.submit-popup .submit-btn-btn button:hover {
  background-color: #077533;
  color: white;

}

.submit-popup .dismiss-btn {
  margin-top:20px;
  margin-bottom: 5px;
}


.submit-popup .dismiss-btn button:hover {
  color:rgb(0, 0, 0);
  background:#ffffff
}

.submit-popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.submit-popup.active > div {
  top:0px;
  opacity:1;
}

.submit-popup.active .submit-title {
  transition: all 300ms ease-in-out 300ms;
}
.submit-popup.active .submit-description {
  transition: all 300ms ease-in-out 350ms;
}
.submit-popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}

.dimmerforsubmit {
display: none;
background: #000;
opacity: 0.75;
position:fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.popup {
  width:400px;
  height:280px;
  padding:30px 20px;
  background:#f5f5f5;
  border-radius:10px;
  box-sizing:content-box;
  z-index:2;
  text-align:center;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);

}
.popup .icon {
  margin:5px 0px;
  width:50px;
  height:50px;
  border:2px solid #db2121;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup .icon i.fa {
  font-size:30px;
  color:#34f234;
}
.popup .title {
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.popup .description {
  color:#222;
  font-size:15px;
  padding:5px;
}
.popup .dismiss-btn {
  margin-top:15px;
  margin-left: 0px;
  margin-right: 180px;
}

.popup .hi-btn {
  margin-top:-46px;
  margin-left: 180px;
  margin-right: 0px;
}



.popup .dismiss-btn button {
  padding:10px 43px;
  background:rgb(216, 102, 36);
  color:#f5f5f5;
  border:2px solid rgb(197, 20, 20);
  font-size:14px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}

.popup .hi-btn button {
  padding:10px 23px;
  background:#585757;;
  color:#f5f5f5;
  border:2px solid rgb(73, 70, 70);
  font-size:14px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
  color:#111;
  background:rgb(194, 17, 17);
}

.popup .hi-btn button:hover {
  color:rgb(0, 0, 0);
  background:rgb(255, 255, 255);
}

.popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div {
  top:0px;
  opacity:1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .hi-btn {
  transition: all 300ms ease-in-out 400ms;
}

.dimmer {
  display: none;
  background: #000;
  opacity: 0.70;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}